/* docs/_static/custom.css */

:root {
    --sd-color-variable-bg: #fff7cd;
}

.card-primary-bg {
    background-color: var(--sd-color-primary-bg);
}

.card-variable-bg {
    background-color: var(--sd-color-variable-bg);
}

.error-text {
    color: red;
}